<div class="shoe-menu shoe-menu-horizontal shoe-backdrop">
    @Html.ActionLink("Hjem", "Index", "Home", new { @class = "shoe-menu-heading shoe-menu-link"})
    <ul class="shoe-menu-list">
        <li class="shoe-menu-item">@Html.ActionLink("Kontrol Panel", "ControlPanel", "Home", new { @class = "shoe-menu-link"})</li>
    </ul>
</div>