<div class="shoe-u-1-5">
    <div>
        <!--search menu-->
        <form asp-controller="Home" asp-action="Statistics" method="get">
            <input type="text" name="buildingName" class="shoe-u-1-8"/>
            <!--insert buttons and/or dropdown search options filter-->
        </form>
    </div>
    <div>
        <!--hierarchy-->
    </div>
</div>
<div class="shoe-u-4-5">
    <!--Content-->
</div>